.app {
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)),
    repeating-linear-gradient(
      0,
      transparent,
      transparent 2px,
      black 3px,
      black 3px
    ),
    url("https://wallpaperaccess.com/full/95233.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
